html,body{
	height:100%;
}
body,div,p,ul,li,form,label,h1,h2,h3,h4{
	margin:0;
	padding:0;
}
body{
	font-family: "ibm-plex-sans","Helvetica Neue",Arial,sans-serif;
	color:#323232;
}
a{
	display:block;
	text-decoration:none;
}
i{
	font-style:normal;
}
li{
	list-style:none;
}
@mixin underline(){
	&::after{
		content:'';
		display:block;
		width:100%;
		height:4px;
		background:#3b6caa;
		position:absolute;
		left:0;	
		bottom:-4px;
		transform:translate3d(0 4px 0);
		transition:0.4s;				
	}
	&:hover::after{
		bottom:0;
	}		
}
.header{
	width:100%;
	height:50px;
	border-bottom:1px solid #e5e5e5;
	background:#fff;
	.ibm-logo{
		width:60px;
		height:50px;
		float:left;
		margin-left:20px;
		box-sizing:border-box;
		position:relative;
		overflow:hidden;
		a{
			display:block;
			width:100%;
			height:100%;
			font-family:'iconfont';
			font-size:24px;
			color:#000;
			line-height:50px;
			@include underline();				
		}	
	}
	.nav{
		height:100%;
		line-height:50px;
		float:left;
		margin-left:20px;
		li{
			float:left;
			margin-right:24px;
			position:relative;
			overflow:hidden;
			a{
				display:block; 
				font-family:'iconfont';
				font-size:14px;
				color:#323232;
				@include underline();
			}			
		}
	}
	.masthead-rightside{
		overflow:hidden;
		height:50px;
		float:right;
		margin-right:20px;
		position:relative;
		.Market{
			width:108px;
			height:33px;
			box-sizing:border-box;
			margin-right:20px;
			margin-top:8px;
			border:1px solid #4178be;
			float:left;
			a{
				display:block;
				font-size:14px;
				line-height:31px;
    		white-space:nowrap;
    		text-align:center;
    		color:#4178be;
    		transition:0.4s;
    		&:hover{
    			color: #fff;
    			background:#4178be;
    		}
			}
		}
		form{
			float:left;
			margin-right:26px;
			position:relative;
			.inp{
				width:220px;
				height:50px;
				border-left:1px solid #e0e0e0;
				border-right:1px solid #e0e0e0;
				input{
					display:inline-block;
					width:220px;
					height:100%;
					padding:1px 43px 1px 0;
					line-height:100%;
					font-size:16px;
					text-indent:10px;
					outline:none;
					border:none;
					box-sizing: border-box;
   				color:#323232;
				}
			}
			.ibm-search-link{
				width:42px;
				height:50px;
				border:none;
				outline:none;
				font-family:'iconfont';
				font-size:20px;
				font-weight:bold;
				color: #323232;
				text-align:center;
				background:#fff;
				position:absolute;
				top:0;
				right:1px;		
			}
		}
		.masthead-iconsonly{
			height:100%;
			background:#fff;
			float:right;
			li{
				height:50px;
				float:left;
				.icon{
					display:block;
					height:100%;
					width:100%;
					font-family:'iconfont';
					font-size:20px;
					line-height:50px;
					color:#323232;
					&:hover{
						color:#4178be;
					}
				}			
			}
			li:nth-child(1){
				left:25px;
				margin-right:26px;
			}
			li:nth-child(2){
				left:70px;
			}
		}
	}
}
.menu-section{
	width:100%;
	height:572px;
	background:linear-gradient(to right,#f4f4f4 30%,#fff 35%);
	position:absolute;
	top:50px;
	left:0;
	z-index:2;
	display:none;
	.ibm-columns{
		height:100%;
		width:1200px;
		margin:0 auto;
		.ibm-columns-left{
			width:400px;
			height:100%;
			box-sizing:border-box;
			background:#f4f4f4;
			padding:0 10px;
			float:left;
			ul{
				.sec-head{
					color:#323232;
					padding: 13px 20px 5px;
					line-height:32px;
					font-weight:600;
				}
				.sec-active a{
					display:block;
					width:370px;
					height:40px;
					box-sizing:border-box;
					color:#6a6a6a;
					text-indent:40px;
					line-height:44px;
					position:relative;
					i{
						font-family:'iconfont';
						display:inline-block;
						float:right;
						font-size:20px;
						margin-top:10px;
						margin-right:10px;
						line-height:20px;
						text-align:center;
						font-style:normal;
						display:none;
					}
					&:hover{
						background:#3b6caa;
						color:#fff;
						font-weight:600;
					}
					&:hover i{
						display:block;
					}
				}
			}
		}
		.ibm-columns-right{
			width:800px;
			height:100%;
			background:#fff;
			box-sizing:border-box;
			float:left;
			.ibm-item{
				width:100%;
				height:100%;
				padding-top:20px;
				h3 a{
					display:block;
					font-size:36px;
					color:#3b6caa;
					line-height:74px;
					padding-left:20px;
					font-weight:normal;
					&:hover{
						text-decoration:underline;
					}
				}
				.colulmns{
					width:380px;
					padding-left:20px;
					float:left;
					overflow:hidden;
					span{
						display:block;
						font-size:16px;
						line-height:48px;
						color:#323232;
					}
					ul li a{
						display:block;
						font-size:18px;
						color:#5c85b8;
						line-height:40px;
						font-weight:normal;
						&:hover{
							text-decoration:underline;
						}
					}
					.ibm-bold{
						padding-top:10px;
						line-height:26px;
						font-size:16px;
						color:#323232;
					}
					img{
						display:block;
						width:380px;
						height:160px;
						margin-top:14px;
					}
					p a{
						margin-top:23px;
						font-size:16px;
						color:#3b6caa;
						line-height:26px;
					}
				}
				
			}
		}
	}
}
.content-wrapper{
	width:100%;
	.content-header-pic{
		width:100%;
		background:url(../img/11062017-ls-CIO-17512-2000x600.jpg) 0 0 / cover no-repeat;
		background-size:100%;
		display:none;
	}
	.content-header{
		width:100%;
		height:400px;
		min-height: 250px;
		box-sizing:border-box;
		padding-top:5vw;
		padding-bottom:5vw;
		background:#000 url(../img/11062017-ls-CIO-17512-2000x600.jpg) left top / cover no-repeat;
		background-size:100%;
		border-bottom: 1px solid #fff;
		.content-leadspace{
			width:50%;
			box-sizing:border-box;
			margin-left:20px;
			color:#fff;
			h1{
				font-size:48px;
				line-height:54px;
				font-weight:normal;
			}
			p{
				font-size:16px;
				line-height:64px;
				white-space:nowrap;
			}
			ul{
				li{
					position:relative;
					margin-bottom:12px;
					a{
						display:block;
						padding-left:36px;
						height:26px;
						font-size:16px;
						line-height:26px;
						color:#fff;
						&:hover{
							text-decoration:underline;
						}
					}
					&::before{
						height:26px;
						width:26px;
						display:block;
						content:'';
						background:url(../img/jt1.png) no-repeat;
						position:absolute;
						left:0;
						top:0;	
					}
				}
			}
		}
	}
}
.content-week{
	.week{
		height:460px;
		width:25%;
		box-sizing:border-box;
		float:left;
	}
	.week-tit{
		padding-top:30px;
		padding-left:20px;
		h3{
			display:block;
			padding-bottom:15px;
			font-size:22px;
			color:#323232;
			font-weight:300;
		}
	}
	.week-section2{
		width:25%;
		background:#ecf2f2;
		img{
			display:block;
			width:100%;
		}
		.sf-content{
			width:100%;
			box-sizing:border-box;
			padding:20px;
			h3{
				display:block;
				padding-bottom:15px;
				font-size:20px;
				line-height:26px;
				color:#323232;
				font-weight:300;
			}
			p{
				padding-bottom:15px;
				font-size:16px;
				line-height:26px;
				color:#323232;
				font-weight:300;
			}
			.sf-see{
				position:relative;
				span{
					display:block;
					padding-left:35px;
					line-height:26px;
					font-size:16px;
					color:#3b6caa;
					font-weight:300;
					&::before{
						display:block;
						width:25px;
						height:25px;
						content:'';
						background:url(../img/jt2.png) no-repeat;
						position:absolute;
						left:0;
						top:0;
					}
				}
			}	
		}
	}
	.week-section3{
		@extend .week-section2;
		background:#fff;
	}
	.week-section4{
		@extend .week-section2;
	}
}
.content-inside{
	width:100%;
	.inside-tit{
		height:410px;
		width:25%;
		box-sizing:border-box;
		float:left;
		background:#264a60;
		padding:30px 20px 20px;
		h2{
			display:block;
			padding-bottom:40px;
			color:#fff;
			font-size:24px;
			font-weight:200;
		}
		.stories{
			width:159px;
			height:46px;
			box-sizing:border-box;
			border:2px solid #fff;
			color:#fff;
			a{
				display:block;
				width:100%;
				height:100%;
				font-size:14px;
				text-align:center;
				line-height:46px;
				color:#fff;
				transition:0.5s;
				&:hover{
					background:#fff;
					color:#323232;
				}
			}
		}
	}
	.inside-section1{
		height:410px;
		width:25%;
		float:left;
		background:#1d3649;
		position:relative;
		img{
			display:block;
			width:100%;
		}
		.inside-content{
			width:100%;
			box-sizing:border-box;
			padding:20px;
			h3{
				display:block;
				padding-bottom:15px;
				font-size:20px;
				line-height:26px;
				color:#fff;
				font-weight:300;
			}
			p{
				padding-bottom:15px;
				font-size:16px;
				line-height:26px;
				color:#fff;
				font-weight:300;
			}
		}
		.sf-see{
			position:absolute;
			left:0;
			bottom:0;
			padding:20px;
			p{
				padding-left:35px;
				padding-bottom:15px;
				span{
					display:block;
					line-height:26px;
					font-size:16px;
					color:#fff;
					font-weight:300;
					&::before{
						display:block;
						width:25px;
						height:25px;
						content:'';
						background:url(../img/jt1.png) no-repeat;
						position:absolute;
						left:20px;
						top:20px;
					}
				}
			}				
		}		
	}
	.inside-section2{
		width:50%;
		height:410px;
		float:left;
		background:url(../img/10312017-n-episode6-starwars-600x260.jpg) no-repeat;
		background-size:100% 100%;
		position:relative;
		p{
			width:100%;
			box-sizing:border-box;
			font-size:12px;
			line-height:18px;
			color:#fff;
			padding:20px;
		}
		.section2-content{
			padding:20px;
			box-sizing:border-box;
			position:absolute;
			bottom:0;
			a{
				display:block;
				padding-bottom:20px;
				span{
					font-family:'iconfont';
					font-size:45px;
					color:#fff;
				}
			}
			h3{
				display:block;
				padding-bottom:15px;
				font-size:20px;
				line-height:26px;
				color:#fff;
				font-weight:300;
			}
			p{
				padding-bottom:15px;
				font-size:16px;
				line-height:26px;
				color:#fff;
				font-weight:300;
			}
			.sf-see{
				position:relative;
				a{
					display:block;
					padding-left:35px;
					line-height:26px;
					font-size:16px;
					color:#fff;
					font-weight:300;
					&::before{
						display:block;
						width:25px;
						height:25px;
						content:'';
						background:url(../img/jt1.png) no-repeat;
						position:absolute;
						left:0;
						top:0px;
					}
					&:hover{
						text-decoration:underline;
					}
				}
			}	
			
		}
	}
	.inside-section-hide{
		width:100%;
		height:auto;
		float:left;
		display:none;
		position:relative;
		.inside-hide-pic{
			width:100%;
			height:auto;
			img{
				display:block;
				width:100%;
			}
		}
		.section-hide-content{
			clear:both;
			padding:20px;
			padding-bottom:40px;
			background:#1d3649;
			.p1{
				width:100%;
				font-size:12px;
				line-height:18px;
				color:#fff;
				padding-bottom:15px;
			}
			h3{
				display:block;
				font-size:20px;
				line-height:26px;
				color:#fff;
				font-weight:300;
				padding-bottom:15px;
			}
			.p2{
				padding-bottom:15px;
				font-size:16px;
				line-height:26px;
				color:#fff;
				font-weight:300;
			}
			.sf-see{
				position:relative;
				a{
					display:block;
					padding-left:35px;
					line-height:26px;
					font-size:16px;
					color:#fff;
					font-weight:300;
					&::before{
						display:block;
						width:25px;
						height:25px;
						content:'';
						background:url(../img/jt1.png) no-repeat;
						position:absolute;
						left:0;
						top:0px;
					}
					&:hover{
						text-decoration:underline;
					}
				}
			}		
		}
	}
}
.content-trials{
	width:100%;
	.trials{
		width:25%;
		height:431px;
		float:left;
		box-sizing:border-box;
	}
	.trials-tit{
		padding:20px;
		background:#f9f9fb;
		h2{
			display:block;
			padding-bottom:20px;
			padding-bottom:40px;
			color:#008571;
			font-size:30px;
			font-weight:200;
		}
		.trials-tit1{
			width:159px;
			height:46px;
			box-sizing:border-box;
			border:2px solid #008571;
			background:#008571;
			margin-bottom:26px;
			a{
				display:block;
				width:100%;
				height:100%;
				font-size:14px;
				text-align:center;
				line-height:46px;
				color:#fff;
				transition:0.5s;
			}
		}
		.trials-tit2{
			width:174px;
			height:46px;
			box-sizing:border-box;
			border:2px solid #008571;
			a{
				display:block;
				width:100%;
				height:100%;
				font-size:14px;
				text-align:center;
				line-height:46px;
				color:#008571;
				transition:0.5s;
				&:hover{
					background:#008571;
					color:#fff;
				}
			}
		}
	}
	.trials-cloud{
		width:25%;
		background:#ecf2f2;
		.trials2-pic{
			width:100%;
			img{
				display:block;
				width:100%;
			}
		}
		.trials2-content{
			width:100%;
			box-sizing:border-box;
			padding:20px;
			h3{
				display:block;
				padding-bottom:15px;
				font-size:20px;
				line-height:26px;
				color:#666;
				font-weight:300;
			}
			p{
				padding-bottom:15px;
				font-size:16px;
				line-height:26px;
				color:#666;
				font-weight:300;
			}
			.sf-see{
				position:relative;
				span{
					display:block;
					padding-left:35px;
					line-height:26px;
					font-size:16px;
					color:#3b6caa;
					font-weight:300;
					&::before{
						display:block;
						width:25px;
						height:25px;
						content:'';
						background:url(../img/jt2.png) no-repeat;
						position:absolute;
						left:0;
						top:0;
					}
				}
			}	
		}
	}
	.trials-cloud-white{
		background:#f9f9fb;
	}
}
.content-you{
	width:100%;
	.you-learn{
		width:25%;
		height:607px;
		float:left;
		box-sizing:border-box;
		padding:20px;
		background:url(../img/you-ibm-security-analyst-278x371.jpg) 100% 100% no-repeat;
		.you-pic{
			width:100%;
			padding-bottom:15px;
			img{
				display:block;
				height:100%;
			}
		}
		h2{
			display:block;
			width:262px;
			font-size:20px;
			line-height:25px;
			font-weight:300;
			padding-bottom:40px;
		}
		.learn-more{
			width:121px;
			height:46px;
			box-sizing:border-box;
			border:2px solid #4178be;
			margin-bottom:15px;
			a{
				display:block;
				width:100%;
				height:100%;
				box-sizing:border-box;
				text-align:center;
				line-height:46px;
				color:#4178be;
				font-size:10px;
				&:hover{
					background:#4178be;
					color:#fff;
				}
			}
		}
	}
	.you-select{
		width:75%;
		float:left;
		.you-item{
			width:33.33%;
			height:202px;	
			float:left;
			a{
				display:block;
				width:100%;
				height:100%;
				box-sizing:border-box;
				padding:20px;
				h4{
					font-size:20px;
					color:#323232;
					line-height:26px;
					padding-bottom:20px;
					font-weight:300;
				}
				p{
					font-size:16px;
					color:#4178be;
					line-height:26px;
					padding-bottom:15px;
				}
			}
		}
	}
}
.content-autodesk{
	clear:both;
	width:100%;
	height:465px;
	background:url(../img/11062017_cs_Autodesk_Watson_image_17507_2000x600.jpg) center no-repeat;
	background-size:cover;
	overflow:hidden;
	.autodesk-pic{
		width:100%;
		float:left;
		display:none;
		img{
			display:block;
			width:100%;
		}
	}
	.autodesk{
		width:42%;
		float:left;
		padding:5vw 10px;
		box-sizing:border-box;
		a{
			display:block;
			padding-bottom:20px;
			span{
				font-family:'iconfont';
				font-size:60px;
				color:#323232;
			}
		}
		.autodesk-1{
			font-size:16px;
			color:#323232;
			padding-bottom:20px;
		}
		h3{
			font-size:28px;
			color:#323232;
			line-height:36px;
			padding-bottom:20px;
			font-weight:300;
		}
		.autodesk-2{
			font-size:16px;
			color:#323232;
			padding-bottom:40px;
		}
		.seehow{
			width:120px;
			height:46px;
			a{
				display:block;
				width:100%;
				height:100%;
				box-sizing:border-box;
				background:#4178be;
				text-align:center;
				line-height:46px;
				color:#fff;
			}
		}
	}
}
.content-help{
	width:100%;
	height:354px;
	background:#777677;
	color:#fff;
	padding-top:40px;
	padding-bottom:20px;
	box-sizing:border-box;
	.ibm-fluid{
		width:100%;
		padding:0 10px 10px;
		box-sizing:border-box;
		.fluid-left{
			padding:40px 10px;
			width:25%;
			float:left;
			box-sizing:border-box;
			font-size:30px;
			h2{
				font-size:30px;
			}
		}
		.fluid-right{
			width:75%;
			float:right;
			.fluid-right-top-bottom{
				width:100%;
				float:left;
				padding:0 10px;
				box-sizing:border-box;
				.fluid-item{
					width:33.33%;
					padding:0 10px;
					box-sizing:border-box;
					float:left;
					a{
						display:block;
						width:100%;
						height:100%;
						color:#fff;
						.help-pic{
							width:40px;
							height:46px;
							img{
								width:100%;
							}
						}
						h4{
							display:inline-block;
							font-size:20px;
							line-height:30px;
							font-weight:200;
							border-bottom:1px solid #777677;
							transition:0.3s;
							&:hover{
								border-bottom:1px solid #fff;
							}
						}
						.help-text{
							font-size:16px;
							line-height:30px;
							padding-bottom:15px;
						}
					}				
				}
			}
		}
	}
}
.footer{
	width:100%;
	clear:both;
	background:#f4f4f4;
	.ibm-word-break{
		word-wrap:break-word;
	}
	.footer-region{
		width:100%;
		padding:0 10px;
		box-sizing:border-box;
		.footer-region-item{
			width:25%;
			height:320px;
			float:left;
			box-sizing:border-box;
			padding:40px 10px 0;
			h3{
				display:block;
				font-size:16px;
				line-height:26px;
				padding-bottom:15px;
			}
			ul{
				li{
					a{	
						display:block;
						font-size:16px;
						line-height:30px;
						color:#5a5a5a;
					}
				}
			}
			
		}
	}
	.select-region{
		width:100%;
		clear:both;
		box-sizing:border-box;
		padding:20px 10px 30px;
		overflow:hidden;
		background:#f4f4f4;
		.select-region-country{
			float:right;
			width:312px;
			padding:0 10px;
			h3{
				line-height:26px;
				font-size:16px;
				color: #464646;
				font-weight:600;
				padding-bottom:15px;
			}
			select{
				width:312px;
				height:40px;
			}
			.selection{
				width:100%;
				display:inline-block;
				vertical-align:middle;
				.selection2{
					.select-selection{
						display:inline-block;
						height:40px;
						width:312px;
						box-sizing:border-box;
						color: #323232;
						line-height:40px;
						background-color:#fff;
    				border:1px solid #aaa;
    				transition: 0.3s border-color,0.3s box-shadow;
					}
				}
			}
			
		}
	}
	.ibm-footer{
		clear:both;
		width:100%;
		height:60px;
		box-sizing:border-box;
		padding:0 20px;
		background:#f4f4f4;
		.ibm-footer2{
			float:left;
			width:100%;
			box-sizing:border-box;
			border-top:1px solid #aeaeae;
			ul{
				float:left;
				height:100%;
				padding:10px 0;
				li{
					float:left;
					line-height:40px;
					padding-right:20px;
					a{
						display:block;
						font-size:16px;
						color:#323232;
					}
					
				}
			}
			.ibm-footer-fright{
				float:right;
				display:inline-block;
				height:100%;
				box-sizing:border-box;
				padding-top:12px;
				.footer-fleft{
					float:left;
					margin-right:14px;
					p{
						line-height:26px;
						font-size:16px;
					}
				}
				.ibm-icononly{
					float:right;
					overflow:hidden;
					a{
						display:block;
						float:left;
						font-family:'iconfont';
						font-size:24px;
						color:#000;
						margin-bottom:10px;
   					margin-right:14px;
					}
				}
			}
		}
	}
}	
@media only screen and (max-width: 1185px) and (min-width: 600px){
	.nav {
    display:none;
	}
}
@media only screen and (max-width:1185px) and (min-width:1000px){
	.content-wrapper{
		width:100%;
		.content-header{
			width:100%;
			background:url(../img/11062017-ls-CIO-17512-2000x600.jpg) left top / cover no-repeat;
			.content-leadspace{
			width:45%;
			}
		}
	}
}
@media only screen and (max-width: 599px){
	.header{
		.nav {
	    display:none;
		}
		.masthead-rightside{
			form{
				width:42px;
				.inp{
					border:none;
					display:none;
				}
			}
		}
	}
}
@media only screen and (max-width:1250px) and (min-width:1001px){
	.content-you{
		.you-learn{
			background:url(../img/you-ibm-security-analyst-278x371.jpg) 100% 100% no-repeat;
			background-size:250px auto;
		}
	}
}
@media only screen and (max-width:1000px) and (min-width:580px){
	.content-week{
		.week{
			width:50%;
		}
	}
	.content-wrapper{
		width:100%;
		.content-header{
			width:100%;
			background:url(../img/11062017-ls-CIO-17512-2000x600.jpg) left top / cover no-repeat;
			.content-leadspace{
			width:60%;
			}
		}
	}
	.content-inside{
		.inside{
			width:50%;
		}
		.inside-section2{
			width:100%;
		}
	}
	.content-trials{
		.trials{
			width:50%;
			height:auto;
		}
	}
	.content-you{
		.you-learn{
			background:url(../img/you-ibm-security-analyst-278x371.jpg) 100% 100% no-repeat;
			background-size:contain;
			width:100%;
			height:390px;
			margin-top:20px;
			margin-bottom:40px;
			h2{
				width:366px;
			}
		}
		.you-select{
			width:100%;
			.you-item{
				width:50%;

			}	
		}
	}

	.content-help{
		overflow:hidden;
		height:auto;
	}
}
@media only screen and (max-width:579px){
	.header{
		.nav {
	    display:none;
		}
		.masthead-rightside{
			.Market{
				display:none;
			}
			form{
				.inp{
					display:none;
				}
			}
		}
	}
	.content-wrapper{
		width:100%;
		.content-header-pic{
			display:block;
		}
		.content-header{
			width:100%;
			padding-top:32vw;
			.content-leadspace{
				width:90%;
				box-sizing:border-box;
				margin-left:20px;
				color:#fff;
				h1{
					font-size:34px;
					line-height:40px;
					font-weight:normal;
				}
			}
		}
	}
	.content-week{
		.week{
			width:100%;
			margin:0 auto;
		}
		.week-tit{
			height:auto;
		}
	}
	.content-inside{
		.inside{
			width:100%;
			margin:0 auto;
		}
		.inside-tit{
			height:auto;
		}
		.inside-section2{
			display:none;
		}
		.inside-section-hide{
			display:block;
		}
	}
	.content-trials{
		.trials{
			width:100%;
			height:507px;
			margin:0 auto;
		}
		.trials-tit{
			height:auto;
		}
	}
	.content-you{
		.you-learn{
			width:100%;
			height:420px;
			background:url(../img/you-ibm-security-analyst-278x371.jpg) 100% 100% no-repeat;
			background-size:50%;
		}
		.you-select{
			width:100%;
			.you-item{
				width:100%;
				height:auto;
			}	
		}
	}
	.content-autodesk{
		background:#000;
		height:auto;
		.autodesk-pic{
			display:block;
		}
		.autodesk{
			width:100%;
			height:auto;
		}
	}
	.content-help{
		height:auto;
		overflow:hidden;
		.ibm-fluid{	
			.fluid-left{
				width:80%;
			}
			.fluid-right{
				width:100%;
				box-sizing:border-box;
				padding:0 10px;
				.fluid-right-top-bottom{
					width:100%;
					.fluid-item{
						width:80%;
					}
				}
			}
		}
	}
	.footer{
		.footer-region{
			.footer-region-item{
				width:100%;
				height:auto;
				float:none;
				ul{
					width:100%;
					height:auto;
					column-gap: 20px;
				  -webkit-column-gap: 20px;
				  -moz-column-gap: 20px;
					column-count: 2;
					-webkit-column-count: 2;
					-moz-column-count: 2;	
				}			
			}
		}
		.select-region{
			.select-region-country{
				width:95%;
				select{
					width:100%;
				}
			}
		}
		
		.ibm-footer{
			.ibm-footer2{
				.ibm-footer-fright{
					float:left;
				}
			}
		}
	}
}
